*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(15, 102, 102);
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    justify-content: center;
}
div ul{
    display: flex;
    gap: 30px;
    padding-left: 1000px;
}
nav ul{
    margin-bottom: 70px;
}
div ul li{
    list-style: none;
}
a:link{
    color: red;
}
a:visited{
    color: rgb(214, 221, 155);
}
ul li a:hover{
    color: rgb(248, 248, 250);
    padding: 10px ;
    background-color: black;
    border-radius: 10px;
}
a:active{
    color: orange;
}
.name{
    font-size: 70px;
}
.sub-container{
    text-align: center;
    padding-top: 150px;
}
.fire{
    font-size: 30px;
    padding-bottom: 5px;
}
.wave{
    border-color: white;
    border-radius: 20px;
    padding: 20px;
}
.wave:hover{
    color: black;
    background-color: white;
}